
  @font-face {
    font-family: 'RedHatDisplay-Medium';
    src:  url('/assets/fonts/Red-Hat-Display/RedHatDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'RedHatDisplay-Black';
    src:  url('/assets/fonts/Red-Hat-Display/RedHatDisplay-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'RedHatDisplay-Light';
    src:  url('/assets/fonts/Red-Hat-Display/RedHatDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'RedHatDisplay-Regular';
    src:  url('/assets/fonts/Red-Hat-Display/RedHatDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'RedHatDisplay-Bold';
    src:  url('/assets/fonts/Red-Hat-Display/RedHatDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter-Bold';
    src:  url('/assets/fonts/Red-Hat-Display/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

 